/* Orbiting Icons Component Styles */

.orbiting-icons-container {
  position: relative;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.orbiting-ring {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

.orbiting-icon-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.orbiting-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.375rem;
  background-color: white;
  box-shadow: 0px 2px 3px -1px rgba(0, 0, 0, 0.1),
    0px 1px 0px 0px rgba(25, 28, 33, 0.02),
    0px 0px 0px 1px rgba(25, 28, 33, 0.08);
}

.dark .orbiting-icon {
  background-color: #0a0a0a;
}

.orbiting-icon-svg {
  width: 2rem;
  height: 2rem;
  flex-shrink: 0;
}

.orbiting-rings-background {
  pointer-events: none;
  position: absolute;
  inset: 0;
  z-index: 0;
}

.orbiting-ring-bg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  box-shadow: inset 0 2px 4px 0 rgba(0, 0, 0, 0.06);
}

.orbiting-ring-bg.ring-0 {
  background-color: #d1d5db;
}

.dark .orbiting-ring-bg.ring-0 {
  background-color: #737373;
}

.orbiting-ring-bg.ring-1 {
  background-color: #e5e7eb;
}

.dark .orbiting-ring-bg.ring-1 {
  background-color: #525252;
}

.orbiting-ring-bg.ring-2 {
  background-color: #f3f4f6;
}

.dark .orbiting-ring-bg.ring-2 {
  background-color: #404040;
}

.orbiting-ring-bg.ring-3 {
  background-color: #f9fafb;
}

.dark .orbiting-ring-bg.ring-3 {
  background-color: #262626;
}

/* Animations */
@keyframes orbit {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes counter-orbit {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
